.fixture-container{
    display: flex;
    margin: 0;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.fixture-group-container:first-child{
    padding-right: 1em;
}

.fixture-group-container{
    width: 100%;
}

.group-title{
    font-family: Roboto-light;
    color: #25c2a0;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom:0.5em; 
}

.table-container{
    margin: 0 auto;
    width: 100%;
}

td{
    padding: 0.8em;
    font-family: Roboto-regular;
}

td:first-child{
    text-align: left;
}

.table-categories{
    background-color: #25c2a0;
    color: #fff;
}

.table-team-names {
    display: flex;
    align-items: center;
    background-color: #008ae0;
    color: #fff;
}

.shield-image-fixture {
    max-height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 0.5em 0 0;
    padding: 0;
}

.classified {
    border-left: rgb(33, 157, 33) solid 10px;
}

.unclassified {
    border-left: red solid 10px;    
}

.td-points {
        background-color: rgba(37, 194, 160, 0.4);
        font-weight: bolder;
}

.toggle-msg{
    font-family: Roboto-bold;
    color: #008ae0;
    text-align: right;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

.show{
    position: relative
}

@media (max-width: 1200px){
    .fixture-container{
        display: block;
    }
    .table-container{
        width: 100%;
    }
    td{
        font-size: 1.5em;
    }
    tr{
        display: grid;
        grid-template-columns: 40% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5%;
    }
}