.playedmatch-modal-container{
    margin: 1em 0;
}

.players-scorers-playedmatch-main{
    display: flex;
    justify-content: space-around;
}

.player-scorer-container img{
    width: 2.5em;
    border-radius: 999999px;
    margin-right: 1em;
}

.player-scorer-container p{
    font-family: Roboto-regular;
}

.player-scorer-container p:first-child{
    margin-right: 1em;
    color: #25c2a0;
    font-size: 1.3em;
}

.player-scorer-container{
    display: flex;
    align-items: center;
    padding: 0.2em 0;
}

@media (max-width: 1200px){
    .players-scorers-playedmatch p{
        font-size: 1.5em;
    }
    .player-scorer-container p:first-child{
        font-size: 2em;
    }
    .player-scorer-container img{
        width: 4em;
    }
    .player-scorer-container p:last-child{
        font-size: 1.6em;
    }
    .playedmatch-modal-container{
        margin: 2em 0;
    }
}