.fixture-players-container{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.teams-container{
    display: flex;
    justify-content: center;
}

.general-container{
    margin-top: 1em;
}