.bestscorers-container{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin: 3em 0;
    padding: 0.5em 1em;
    text-align: center;
}

.bestscorers-container h3{
    font-family: Roboto-light;
    color: #25c2a0;
    font-size: 2em;
    padding: 0.5em 1em;
}

.bestscorer-container{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    margin: 1em 0.2em;
    
}

.bestscorers-container p{
    display: flex;
    justify-content: center;
}

.bestscorer-container p{
    font-family: Roboto-light;
    font-size: 1.7em;
}

.bestscorers-footer{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.btn-bestscorers{
    border:rgb(0 0 0 / 0.1);
    display: inline;
    background-color: #25c2a0;
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 1em;
    font-family: Roboto-regular;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.btn-bestscorers:hover{
    background-color: #1ea88a;
}

.bestscorer-container-group{
    font-size: 1em;
    font-family: Roboto-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
}

.bestscorer-container-group>p{
    font-size: 1.6em;
}

.more-than-one{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}

.bestscorer-goals{
    color: #008ae0;
    font-family: Roboto-bold;
}

@media (max-width: 1200px){
    .bestscorers-container{
        margin: 4em 0em;
    }
    .bestscorers-container h3{
        font-size: 2.7em;
    }
    .bestscorer-container p{
        font-size: 2.4em
    }
    .btn-bestscorers{
        font-size: 1.5em;
    }
    .more-than-one{
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}