.fact-list-container {
    font-family: Roboto-light;
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: center;
}

.fact-container {
    display: flex;
    width: 50%;
    padding: 0.2em;
    text-align: center;
    align-items: baseline;
    justify-content: end;
}

.fact-container>h3{
    padding: 0.1em;
}

.fact-container>p{
    padding: 0.1em;
}