.header{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 1em 2em;
}

.header h1{
    font-family:"FoundrySterling";
    font-size: 1.3em;
    color: #4d4d4d;
}

.header img{
    width: 4.3em;
    margin-right: 2em;
    padding-top: 0.1em;
}

.container{
    margin: 0 8em;
}

@media (max-width: 1200px){
    .header{
        padding: 2em 4em;
    }
    .header h1{
        font-size: 2.6em;
    }
    .header img{
        width: 8.6em;
        margin-right: 2em;
        padding-top: 0.1em;
    }
    .container{
        margin: 0;
    }
}