@font-face {
    font-family: "Roboto-regular";
    src: url("../public/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Roboto-light";
    src: url("../public/assets/fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Roboto-bold";
    src: url("../public/assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }