*{
  margin: 0;
  padding: 0;
  transition: all 0.4 ease;
}

a{
  text-decoration: inherit;
  color: inherit;
}

input{
  background-color: inherit;
  outline: none;
  border: 0;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; 
}

/* 

black : #1c1e21 
green : #25c2a0
blue  : #008ae0
grey  : #4d4d4d


*/