*{
  margin: 0;
  padding: 0;
  font-family: "Roboto-regular";
  transition: all 0.4 ease;
}

a{
  text-decoration: inherit;
  color: inherit;
}

input{
  background-color: inherit;
  outline: none;
  border: 0;
}

/* 
  grey: #D1D1D1
  red: #EB5353
  green: #36AE7C
  yellow: #FFE400
*/

/* Scroll bar style */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; 
}